
body{
	background-color: #FcEBE5;
}

.button{
	background-color: #ff5d2b;
}

#title {

float:left;
margin: auto;

}

.top-bar{
    background-color: #ff5d2b;
}

.menu-button {
    background-image: url('../images/ribbon.png');
    border: 1px solid black;
    padding: 2em;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0 auto;
    background-position: center;
}

.rewards-button {
    background-color: #2e4c57;
    border: 1px solid black;
    padding: 3.5em;
}

h1{
    color:#fff;
}

.color{
    background-color: #2e4c57;
}
