@font-face {
    font-family: 'economicaregular';
    src: url('../font/economica-regular-otf-webfont.eot');
    src: url('../font/economica-regular-otf-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/economica-regular-otf-webfont.woff2') format('woff2'),
         url('../font/economica-regular-otf-webfont.woff') format('woff'),
         url('../font/economica-regular-otf-webfont.ttf') format('truetype'),
         url('../font/economica-regular-otf-webfont.svg#economicaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'josefin';
    src: url('../font/JosefinSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

a{
    font-size: 30px;
    color: #2e4c57;
}

body{
	background-color: #FcEBE5;
    font-size: 20px;
}

.button{
	background-color: #ffa382;
    border: 1px solid transparent;
    border-right: 1px solid #fefefe;
    vertical-align: middle;
}

#title {
    float:left;
    margin: auto;
}

.top-bar{
    background-color: #ff5d2b;
}

.top-bar h1{
    font-size: 32px;
    color: #fff;
}

.menu-button {
    background-image: url('../images/ribbon.png');
    padding: 0.60em;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0 auto;
    background-position: center;
    width: 100%;
    font-family: 'economicaregular';
}


.rewards-button {
    background-color: #2e4c57;
}

h1{
    font-size: 28px;
    color:#2e4c57;
    font-weight: bold;
    text-align: center;
    font-family: 'economicaregular';
}

h2{
    font-size: 24px;
    font-weight: bold;   
}

h3{
    font-size: 20px;
    font-weight: bold;
}

.color{
    background-color: #2e4c57;
}

.overlay {
    position: relative;

}

#vlightbox1 {
    width: 100%;
}


.thumbnail {
    background-color: #fff;   
    width: 250px; 
    height:auto;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;

}

.right-button{
    float: right;
    position: relative;
    font-size: 20px;
    margin-top: -20px;   
}

    

.reg-text {
    font-size: 16px;
}

.border-it {
    border: 1px solid black;
}



.accordion-item {
    background-color: white;
}



.white {
    background-color: white;
}
.button-group {
    float: none;
    margin: 0 auto;
}

.seg_control {
    margin: 20px;
}


.position {
    text-align: center;
}


.main-category {
    margin-top: 10px;
}
